/* 背景 */
body, html {
  background-image: url('../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* 物件排列 直向 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1%;             
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

/* 物件排列 橫向*/
.container-horizontal {
  display: flex;       
  gap: 5%;  
  width: 65%;
  max-width: 600px;        
}


/* 下拉表 */
select {
  margin-top: 1%;
  padding: 1%;
}

/* 按鈕外觀 */
.button {
  --btn-color: #4CAF50; /* 預設綠色 */
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 1.2em auto; 
  padding: 1.2em;     
  font-size: 1.2em;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
/* 按鍵特效 */
.button:hover {
  background-color: var(--btn-color);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
}

/* 上傳按鈕 */
.label {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--lab-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.label:hover {
  background-color: var(--lab-color);
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.8);
}

/* 畫布 */
.canvas {
  border: 3px dashed rgba(168, 48, 1, 0.897);
  background-color: transparent;
  margin: 0 auto;
  display: block;
  touch-action: none; 
}

/* 隱藏 */
.hidden {
  display: none;
}

/* 手機優化 */
@media (max-width: 600px) {
  .button {
    font-size: 1.4em;
    padding: 1.5em;
    border-radius: 16px;
  }
}

/* 桌機上可以稍微大一點 */
@media (min-width: 600px) {
  .button {
    font-size: 1.6em;
  }
}
